.main_container {
  width: 80vw;
  height: 636px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero_heading {
  position: absolute;
  width: 571px;
  height: 194px;
  top: 250px;
  left: 156px;

  font-family: Inter;
  font-size: 66px;
  font-weight: 500;
  line-height: 97px;
  letter-spacing: 0em;
  text-align: left;

  font-family: Inter;
  font-size: 66px;
  font-weight: 700;
  line-height: 97px;
  letter-spacing: 0em;
  text-align: left;

  font-family: Inter;
  font-size: 66px;
  font-weight: 400;
  line-height: 97px;
  letter-spacing: 0em;
  text-align: left;

  color: white;
}

.sub_heading {
  position: absolute;
  width: 560px;
  height: 99px;
  top: 480px;
  left: 158px;
  opacity: 30%;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 29.25px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.hero_img {
  position: absolute;
  width: 467.71px;
  height: 544.71px;
  top: 172px;
  left: 820px;
}

.hero_email_container {
  position: absolute;
  width: 438px;
  height: 74px;
  top: 615px;
  left: 154px;
  border-radius: 43px;
  background-color: white;
  opacity: 60%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.hero_email_text {
  position: absolute;
  opacity: 50%;
  color: pure white;
  width: 224px;
  height: 26px;
  top: 25px;
  left: 50px;
  border: none;
}

.hero_email_button {
  position: absolute;
  width: 137px;
  height: 62px;
  /* top: 621px; */
  left: 290px;
  border-radius: 43px;
  cursor: pointer;
}
