*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: #111111;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
